SUPABASE_PROJECT_ID="svzmueexktjqcssaitzp"
SUPABASE_PUBLISHABLE_KEY="sua_chave_supabase_publica"
SUPABASE_URL="https://svzmueexktjqcssaitzp.supabase.co"
VITE_SUPABASE_PROJECT_ID="svzmueexktjqcssaitzp"
VITE_SUPABASE_PUBLISHABLE_KEY="sua_chave_supabase_publica"
VITE_SUPABASE_URL="https://svzmueexktjqcssaitzp.supabase.co"

# FlevoPay Gateway Pix
FLEVOPAY_API_KEY="flevopay_sk_4d2f2349cd060b2eb9d2346923037759f1c3b617645417359fc96c8a80ea2429"
FLEVOPAY_SECRET_KEY="flevopay_sk_4d2f2349cd060b2eb9d2346923037759f1c3b617645417359fc96c8a80ea2429"

# UTMify (opcional)
UTMIFY_API_TOKEN=""
